.d_element {
  position: relative;
  pointer-events: auto;
}
.full_w{
  width: 100%!important;
}
.w_color{
  color: #fff;
}
.clear{
  clear: both;
}
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid #1a1a1a;

  /*required for proper track sizing in FF*/
  width: 100%;
}
input[type=range]{
  margin: 15px 0px;
  margin-top: 10px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #3b556e;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.71) inset, 0 2px 3px rgb(0, 0, 0) inset, 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.71) inset, 0 2px 3px rgb(0, 0, 0) inset, 0 1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.71) inset, 0 2px 3px rgb(0, 0, 0) inset, 0 1px 1px rgba(0, 0, 0, 0);
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #1e79d1 0%,#0d59a3 40%,#074885 100%);
    border: 1px solid #074885;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  /*  background: #ccc;*/
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: green;
}
input[type=range]:focus::-ms-fill-lower {
    /*background: #888;*/
}
input[type=range]:focus::-ms-fill-upper {
    /*background: #ccc;*/
}
/*
.small_element{
  width: 30px;
  height: 30px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}
*/
.small_element{
  width: 87px;
    font-size: 10px;
    font-weight: 600;
    padding: 5px 7px;
    background: #72779d;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    border-radius: 7px;
    color: #fff;
}
.new_div{
  width: 100px;
  height: 100px;
  background: #000;
}
.new_line{
  width: 100%;
  border: 1px solid #000;
}
.new_img{
  width: 100%;
}
.new_img img{
  width: 100%;
  height: 100%;
}
.new_input,.new_textarea,.new_group_radio{
  display: inline-block;
  vertical-align: top;
  width: 173px;
  height: 21px;
}
.new_group_radio{
  width: auto;
  height: auto;
  min-width: 65px;
}
.mn_label, .mn_label > div{
  display: inline-block;
  vertical-align: top;
}

.new_textarea{
  height: 70px;
}
.new_input input,.new_textarea textarea{
  border-radius: inherit;
  width: inherit;
  height: inherit;
  outline: none;
  color: inherit;
}
.set_in_el{
  /*background: rgba(0, 0, 0, 0.06)!important;*/
  background: rgba(14, 0, 230, 0.12)!important;
  border: 1px dotted #000;
}
.el_background{
  width: 27px;
  height: 27px;
  background: #000;
  margin: 5px 0px;
  margin-left: 10px;
}
.t_middle{
  vertical-align: middle!important;
}
.color_el{
  border: 2px solid #ccc;
  margin: 0px;
  margin-left: 2px;
  border-radius: 3px;
}
.e_more_style{
  top: auto;
}
.btn_more_style{
  vertical-align: bottom;
  padding: 5px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #324A64;
  border-radius: 3px;
  background: #3B556E;
  background: -moz-linear-gradient(top,  #46637e 0%, #3B556E 40%, #344a5f 100%);
  background: -webkit-linear-gradient(top,  #46637e 0%,#3B556E 40%,#344a5f 100%);
  background: linear-gradient(to bottom, #46637e 0%,#3B556E 40%,#344a5f 100%);
}
.btn_more_style:active{
  box-shadow: 0 0 1px rgba(0,0,0,.5) inset, 0 2px 3px rgba(0,0,0,.5) inset, 0 1px 1px rgba(255,255,255,.1);
}
.v_align_top{
  vertical-align: top;
}
.w_panel_cont{
  height: 93%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 107%;
}
.pm_grid{
  padding: 10px;
  min-width: 250px;
/*  min-height: 73px;*/
  border: 1px dotted #30455a;
}
#w_panel{
  overflow: hidden;
  width: 255px!important;
  min-height: 400px!important;
}
.pm_grid .w_item{
  float: none!important;
  display: inline-block;
  margin-left: 0px!important;
}
.pm_grid .w_item:not(:first-child){
  margin-left: 10px!important;
}
.item_b_shadow{
  height: 25px;
}
.b_s__cont{
  height: 35px;
}
.btn_open_b_s{
  top: -5px;
  right: 0px;
}
.title_b_s{
  margin-bottom: 0px;
}
.new_list{
  display: inline-block;
}
.new_list li{
  display: inline-block;
  padding: 10px;
}
.i_mrg_text{
  width: 170px!important;
}
.w_title_mrg:not(:first-child){
  margin-top: 10px;
}
.hover_in_tree_el{
  transform: scale(1.01);
  transition: all 0.4s ease;
  z-index: 1000;
}
.hover_in_tree_el *{
  opacity: 0;
}
.tree_element{
  padding-left: 7px;
}
.n_create_panel{
  position: absolute;
  display: block;
  width: 264px;
  color: #fff;
  border-radius: 3px;
}
.n_create_panel .w_panel__head{
  padding: 10px;
  border-radius: 3px;
}
.place_set_menu{
  /*padding: 10px;*/
  height: 0px;
  background: #aaa;
  /*border: 1px dotted #000;*/
}
.li_common{
  position: relative;
  z-index:1;
	transition:top 200ms ease, left 200ms ease, -webkit-transform 200ms ease;
	-o-transition:transform 200ms ease, top 200ms ease, left 200ms ease, -o-transform 200ms ease;
	transition:transform 200ms ease, top 200ms ease, left 200ms ease;
	transition:transform 200ms ease, top 200ms ease, left 200ms ease, -webkit-transform 200ms ease, -o-transform 200ms ease;
	-webkit-transform:translateZ(0);
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000
}
.c_line{
  position: absolute;
  border: 1px dotted #000;
  z-index: 1000;
}
.c_left_line,.c_right_line{
  top: 0px;
  bottom: 0px;
}

.c_top_line,.c_bottom_line{
  left: 0px;
  right: 0px;
}
.act_element{
  background: rgba(58, 245, 167, 0.22);
}
